{% extends "layout.html" %}
{% block body %}

<!--address selection-->
<form class="row row-cols-1" action="/" method="post">

    <div class="col">
        <div class="input-group mb-3">
            <label class="input-group-text" for="selectAddress">Address</label>
            <select name="account" id="selectAddress" class="form-select">
                <option disabled selected value="">Choose...</option>

                {% for account in accounts %}
                <option value="{{account}}">{{account}}</option>
                {% endfor %}

            </select>
            <button type="submit" class="btn btn-primary">Select</button>
        </div>
    </div>

</form>

<h6 class="text-center" style="color: red;">
    <strong>In order to buy, sell, or add a pet, please select the account first.</strong>
</h6>

<hr />



<!--Filters-->
<form class="row" method="post">

    {% for criteria, options in criterias.items() %}

    <div class="col-auto">
        <div class="input-group mb-3">
            <label class="input-group-text" for={{criteria}}>{{ criteria }}</label>
            <select name={{criteria}} class="form-select" id={{criteria}}>

                <option disabled selected value="">Choose...</option>

                {% for option in options %}
                <option value="{{option}}">{{option}}</option>
                {% endfor %}

            </select>
        </div>
    </div>

    {% endfor %}

    <div class="col-auto">
        <button type="submit" class="btn btn-secondary">Filter</button>
    </div>

</form>


<div id="petsRow" class="row row-cols-1 row-cols-md-4 g-4">

    <!-- PETS LOAD HERE -->

    {% for pet in pets %}
    <div class="col">

        <div class="card">

            <h3 class="card-header">{{ pet.name }}</h3>


            <img class="card-img-top img-rounded img-center" data-src="holder.js/140x140" style="width: 100%;"
                src="{{ url_for('static', filename=pet.picture)}}" data-holder-rendered="true">
            <!-- <br /><br /> -->

            <div class="card-body">
                <strong>Breed</strong>: <span class="pet-breed">{{ pet.breed }}</span><br />
                <strong>Age</strong>: <span class="pet-age">{{ pet.age }}</span><br />
                <strong>Location</strong>: <span class="pet-location">{{ pet.location }}</span><br /><br />
                <strong>Price</strong>: <span>{{ pet.price }} Eth</span><br /><br />

                <button name="petID" class="btn btn-primary" type="submit" value="{{ pet.id }}" disabled>
                    Buy
                </button>
            </div>

        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}